@import url(reset.css);
@import url(contato.css);
@import url(responsive.css);
@import url(cyber.html);
@import url("https://use.typekit.net/jqe2tos.css");

:root{
    --color-emphasis: rgb(59,57,138);
    --secondary-emphasis: rgb(37,183,219);
    --emphasis-hover: rgb(41,166,145);
    --primary-background: rgb(255, 255, 255);
    --primary-shadow: rgba(0, 0, 0, 0.7);
    --primary-fontColor: rgb(6,48,55);
    --secondary-color: rgb(255,255,255);
    --background-buttonHover: rgba(37, 183, 219, 0.3)
}

body{
    font-family: "monarcha", serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--primary-background);
    color: var(--primary-fontColor);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

html {
	scroll-behavior: smooth;
}

header {
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 7px var(--primary-shadow);
}

.page-title{
    color: var(--color-emphasis);
    font-size: 4rem;
    margin-bottom: .4rem;
}

.menu-item{
    font-size: 2rem;
    text-decoration: none;
    color: var(--secondary-emphasis);
}

.menu-item:hover{
    color: var(--emphasis-hover);
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main{
    width: 100%;
    display: flex;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
}

.cards{
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin: 1.2rem 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px var(--primary-shadow);
    transition: transform 1s ease;
}

.card-header {
    padding: 20px;
    background-color: var(--card-background);
    color: var(--secondary-color);
}

.style-1{
    background-color: var(--color-emphasis);
}

.style-2{
    background-color: var(--secondary-emphasis);
}

.style-3{
    background-color: var(--emphasis-hover);
}

.card-header h2 {
    margin: 0;
    text-align: center;
    font-size: 1.6rem;
}

.card-content {
    padding: 20px;
}

.card-content p {
    margin-bottom: 10px;
}

.card-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Efeito de hover */
.card:hover {
    transform: scale(1.05);
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
}

.emphasis{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.emphasis-card{
    display: flex;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--primary-shadow);
}

.emphasis-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.emphasis-title{
    font-size: 1.6rem;
    text-align: center;
}
.emphasis-paragraph{
    text-align: justify;
}
.emphasis-sub{
    padding: 1rem;
    width: 8rem;
    border: 2px solid var(--secondary-emphasis);
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

.emphasis-sub:hover{
    background-color: var(--background-buttonHover);
}

.emphasis-img{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emphasis-img img{
    width: 20rem;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    color: var(--color-emphasis);
    text-align: center;
    padding: 3rem 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px var(--primary-shadow);
}


