@import url(reset.css);
@import url("https://use.typekit.net/jqe2tos.css");

:root{
    --color-emphasis: rgb(59,57,138);
    --secondary-emphasis: rgb(37,183,219);
    --emphasis-hover: rgb(41,166,145);
    --primary-background: rgb(255, 255, 255);
    --primary-shadow: rgba(0, 0, 0, 0.7);
    --primary-fontColor: rgb(6,48,55);
    --secondary-color: rgb(255,255,255);
}

body{
    font-family: "monarcha", serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--primary-background);
    color: var(--primary-fontColor);
}


header {
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 7px var(--primary-shadow);
}

.page-title{
    color: var(--color-emphasis);
    font-size: 4rem;
    margin-bottom: .4rem;
}

.menu-item{
    font-size: 2rem;
    text-decoration: none;
    color: var(--secondary-emphasis);
}

.menu-item:hover{
    color: var(--emphasis-hover);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}


main {
    padding: 20px;
}

.post {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    width: 24rem;
    gap: 1rem;
    margin: 2rem 0;
    padding: 1rem;
    box-shadow: 5px 4px 3px var(--primary-shadow);
    justify-content: center;
    align-items: center;
    text-align: justify;
    background: rgb(42,63,145);
    background: linear-gradient(90deg, rgba(42,63,145,1) 0%, rgba(2,134,123,1) 84%);
}

.post-title{
    font-size: 2rem;
}

.post-description{
    font-size: 1.2rem;
}

.post-image{
    width: 24rem;
    transition: .8s ease;
    border: 3px solid #111111;
}

.post-image:hover{
    filter: brightness(30%);
}

footer {
    color: var(--color-emphasis);
    text-align: center;
    padding: 2rem 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px var(--primary-shadow);
}
