@import url(reset.css);
@import url("https://use.typekit.net/jqe2tos.css");


body {
    font-family: "monarcha", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #474747;
    color: #dbdbdb;
    margin: 0;
  }
  
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
  }
  
  .name {
    font-size: 2.4rem;
  }
  
  .image-profile {
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
  }
  
  .about {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .experience {
    width: 100%;
    font-size: 1.4rem;
    text-align: justify;
    letter-spacing: 1px;
  }
  
  .content-video {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 ;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  
  .title-project {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
  
  .video {
    width: 34rem;
  }
  
  .description {
    margin: 2rem 1rem;
    text-align: justify;
  }
  
  footer {
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  a{
    text-decoration: none;
    color: #11ad2b;
  }
  
  footer p,
  .links {
    margin: 0.5rem 0;
    text-align: center;
  }
  
  .links {
    display: flex;
    flex-direction: column;
  }

@media (min-width: 768px) {
    header {
      height: 20rem;
    }
  
    .about {
      flex-direction: row;
    }
  
    .experience {
      width: 52rem;
    }
  
    .video {
      margin-right: 2rem;
    }
  }

  @media (max-width: 768px) {
    header {
      height: 20rem;
      padding: 2rem 0;
    }
  
    .about {
      flex-direction: row;
      padding: 0;
    }
  
    .experience {
      width: 20rem;
    }

    .description{
        font-size: .8rem;
        margin: 1rem 0;
        width: 20rem;
    }
  
    .video {
      width: 20rem;
    }
  }